{% include "FastLSH/dashboard/header.html" %}

         <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Instructions</h3>
              </div>

            </div>

              <div class="clearfix"></div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-bars"></i>  <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="col-xs-3">
                      <!-- required for floating -->
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs tabs-left">
                        <li class="active"><a href="#home" data-toggle="tab">Introduction</a>
                        </li>
                        <li><a href="#profile" data-toggle="tab">Use the FastLSH Engine</a>
                        </li>
                        <li><a href="#messages" data-toggle="tab">Use the HDDV </a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-xs-9">
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="tab-pane active" id="home">
                          <p class="lead">Introduction</p>
                          <p>FastLSH-UI is a web-based user interface of FastLSH Engine. FastLSH engine uses LSH algorithm
                            to do similarity search on hugh high dimensional data in a Fast way.
                            User can set parameters for the engine and observe the system status when the engine is running.</p>
                          <p>In addition to the FastLSH Engine, A high dimensional data visualizer(HDDV) is also provided.</p>
                        </div>
                        <div class="tab-pane" id="profile">
                          <p class="lead">Use the FastLSH Engine</p>
                          <p>To use the FastLSH Engine, click Run the Engine -> Run the
                            Engine in the navigation bar on the left then follow the instructions.</p></div>
                        <div class="tab-pane" id="messages">
                          <p class="lead">Use the HDDV</p>
                          <p>To use the high dimensional data visualizer (HDDV),
                          click "Data Presentation -> High Dimensional Visualization" in the navigation bar on the left
                            then follow the instructions.</p></div>
                      </div>
                    </div>

                    <div class="clearfix"></div>

                  </div>
                </div>
              </div>


              <div class="clearfix"></div>


            </div>
            <div class="clearfix"></div>


          <div class="clearfix"></div>
        </div>
        <!-- /page content -->
{% include "FastLSH/dashboard/footer.html" %}