{% include "FastLSH/dashboard/header.html" %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Source Code</h3>
              </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" >
                  <div class="x_title">
                    <h2>Packages</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <div class="row">

                      <div class="col-md-12">

                        <!-- price element -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>FastLSH </h2>
                              <h1>Organization</h1>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <h4>
                                    The FastLSH Organization on github
                                </h4>
                              </div>
                              <div class="pricing_footer">
                                <a href="https://github.com/FastLSH" target="_blank" class="btn btn-success btn-block" role="button">Check out<span> now!</span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->

                                                  <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>FastLSH</h2>
                              <h1>Lib</h1>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features" style = "height: 350px">
                                  <ul class="list-unstyled text-left">
                                    <li><i class="fa fa-sort-asc text-success"></i> It is a <strong>C++ library. </strong></li>
                                    <li><i class="fa fa-sort-asc text-success"></i> It is <strong>importable</strong> to other C++ program.</li>
                                    <li><i class="fa fa-sort-asc text-success"></i> It provides the <strong>highest flexibility. </strong></li>
                                    <li><i class="fa fa-sort-asc text-success"></i> It can make the FastLSH engine<strong> deeply and seamlessly integrated </strong>into the existing project.</li>
                                    <li><i class="fa fa-sort-asc text-success"></i> User can make changes per their needs or even <strong>tear it apart and redesign the workflow and the algorithm</strong>.</li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="https://github.com/FastLSH/FastLSH-Lib" target="_blank" class="btn btn-success btn-block" role="button">Check it out <span> now!</span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->
                                                  <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>FastLSH</h2>
                              <h1>Python</h1>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features" style = "height: 350px" >
                                  <ul class="list-unstyled text-left">
                                     <li><i class="fa fa-sort-asc text-success"></i> It is a <strong> Python module.</strong></li>
                                     <li><i class="fa fa-sort-asc text-success"></i> <strong> High accessibility and flexibility.</strong> </li>
                                     <li><i class="fa fa-sort-asc text-success"></i> The core of the module remains the C++ implementation.</li>
                                     <li><i class="fa fa-sort-asc text-success"></i> It serves as a <strong>bridge between lower level and higher level language.</strong></li>
                                     <li><i class="fa fa-sort-asc text-success"></i> It can be <strong>easily plug into </strong>tons of existing projects.</li>
                                  </ul>

                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="https://github.com/FastLSH/FastLSH-Python" class="btn btn-success btn-block" role="button">Check it out <span> now!</span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->
                                                  <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>FastLSH</h2>
                              <h1>Spark</h1>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features" style = "height: 350px">
                                  <ul class="list-unstyled text-left">
                                     <li><i class="fa fa-sort-asc text-success"></i> It is a <strong>Spark implementation</strong> of the LSH.</li>
                                     <li><i class="fa fa-sort-asc text-success"></i> <strong>Functional programming style </strong>is adopted so the code is concise and clean. </li>
                                     <li><i class="fa fa-sort-asc text-success"></i> The access to Spark makes the FastLSH <strong>easy scalable.</strong></li>
                                     <li><i class="fa fa-sort-asc text-success"></i> It can also be <strong>plugged into </strong>the existing spark project.</li>
                                     <li><i class="fa fa-sort-asc text-success"></i> User can <strong>change and modify the workflow or the algorithm.</strong> </li>

                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="https://github.com/FastLSH/FastLSH-Spark" class="btn btn-success btn-block" role="button">Check it out <span> now!</span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->
                                                  <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>FastLSH</h2>
                              <h1>MPI</h1>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features" style = "height: 350px">
                                  <ul class="list-unstyled text-left">
                                     <li><i class="fa fa-sort-asc text-success"></i> FastLSH-MPI is a <strong>cluster computing </strong>version of FastLSH.</li>
                                     <li><i class="fa fa-sort-asc text-success"></i> It uses <strong>Message Passing Interface(MPI) </strong>to realize the communication among the nodes. </li>
                                     <li><i class="fa fa-sort-asc text-success"></i> It is a <strong>standalone</strong> package</li>
                                     <li><i class="fa fa-sort-asc text-success"></i> It makes the algorithm <strong>scalable </strong>among cluster with minimal communication cost.</li>
                                     <li><i class="fa fa-sort-asc text-success"></i> It intends to make the algorithm run in a cluster to provide <strong>high scalability and performance</strong>. </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="https://github.com/FastLSH/FastLSH-MPI" class="btn btn-success btn-block" role="button">Check it out <span> now!</span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->
                                                  <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>FastLSH</h2>
                              <h1>UI</h1>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features" style = "height: 400px">
                                  <ul class="list-unstyled text-left">
                                    <li><i class="fa fa-sort-asc text-success"></i> It is a <strong>web interface </strong>of FastLSH. </li>
                                    <li><i class="fa fa-sort-asc text-success"></i> It provides a <strong>graphic interface </strong>for the core engine.</li>
                                    <li><i class="fa fa-sort-asc text-success"></i> Users can <strong>concentrate on designing </strong>their model without being stopped by technical bar.</li>
                                    <li><i class="fa fa-sort-asc text-success"></i><strong> Data visualization </strong>is also provided as a unique feature to assist data analysis.</li>
                                    <li><i class="fa fa-sort-asc text-success"></i> <strong>You are currently viewing the FastLSH-UI</strong></li>

                                  </ul>

                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="https://github.com/FastLSH/FastLSH-UI" class="btn btn-success btn-block" role="button">Check it out <span> now!</span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->
                                                  <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>FastLSH</h2>
                              <h1>GPU</h1>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features" style = "height: 400px">
                                  <ul class="list-unstyled text-left">
                                    <li><i class="fa fa-sort-asc text-success"></i> It is a <strong>CUDA implementation </strong>of FastLSH. </li>
                                    <li><i class="fa fa-sort-asc text-success"></i> It is empowered by the <strong>SIMD feature </strong>of GPU. </li>
                                    <li><i class="fa fa-sort-asc text-success"></i> The calculation is being run by <strong>thousands of threads and be processed simultaneously.</strong></li>
                                    <li><i class="fa fa-sort-asc text-success"></i> Threads initiated can be <strong>scaled up </strong>as the dataset scales</li>
                                    <li><i class="fa fa-sort-asc text-success"></i> User can <strong>modify the program </strong>to fit their computation.</li>

                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="https://github.com/FastLSH/FastLSH-GPU" class="btn btn-success btn-block" role="button">Check it out <span> now!</span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->
                                                  <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>FastLSH</h2>
                              <h1>VR</h1>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features" style = "height: 400px">
                                  <ul class="list-unstyled text-left">
                                    <li><i class="fa fa-sort-asc text-success"></i> FastLSH-VR is a <strong>Virtual Reality demonstration </strong>project for promotion and education purpose. </li>
                                    <li><i class="fa fa-sort-asc text-success"></i> The demonstration is implemented with <strong>Unity Engine</strong>. </li>
                                    <li><i class="fa fa-sort-asc text-success"></i> The virtual reality is achieved by <strong>Google Cardboard</strong>, a commodity VR viewer.</strong></li>
                                    <li><i class="fa fa-sort-asc text-success"></i> The app supports both <strong>Android and iOS</strong>. By placing their phone inside the cardboard, they can enjoy the LSH algorithm demonstration without hassles.</li>
                                    <li><i class="fa fa-sort-asc text-success"></i> It requires <strong>no technical skill or any background knowledge</strong>.</li>
                                  </ul>

                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="https://github.com/FastLSH/FastLSH-VR" class="btn btn-success btn-block" role="button">Check it out <span> now!</span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->


                          <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>FastLSH</h2>
                              <h1>Docker</h1>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features" style = "height: 400px">
                                  <ul class="list-unstyled text-left">
                                    <li><i class="fa fa-sort-asc text-success"></i> It uses docker as a  <strong>mini virtual machine</strong> </li>
                                    <li><i class="fa fa-sort-asc text-success"></i> The docker image includes <strong>all the other FastLSH packages. </strong> </li>
                                    <li><i class="fa fa-sort-asc text-success"></i> It gets rids of <strong>configuration difference trouble</strong></li>
                                    <li><i class="fa fa-sort-asc text-success"></i> User can use the engine in <strong>exactly same manner </strong>in different machines</li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="https://github.com/FastLSH/FastLSH-Docker" class="btn btn-success btn-block" role="button">Check it out <span> now!</span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

{% include "FastLSH/dashboard/footer.html" %}